{% extends 'layouts/account-base.html' %}


{% block heading %}Новый план{% endblock %}


{% block heading_links %}
<a href="{{ url_for('page.plans') }}" class="btn btn-sm btn-secondary border">Вернуться к списку</a>
{% endblock %}


{% block content %}
<form action="{{ url_for('form.create_plan') }}" method="POST" autocomplete="off">
  <div class="mb-2">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="ff__balance-id" class="mb-1"><span class="text-danger font-weight-bold">*</span> Баланс:</label>
          <select name="balance_id" id="ff__balance-id" class="form-control px-1"
            onchange="formFieldTargetAmountCurrencyUpdate();" required>
            {% for b in form_data.balances %}
            <option value="{{ b.id }}">{{ b.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="ff__name" class="mb-1"><span class="text-danger font-weight-bold">*</span> Название:</label>
          <input type="text" name="name" id="ff__name" class="form-control" required>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="ff__target-amount" class="mb-1"><span class="text-danger font-weight-bold">*</span> Целевая
            сумма:</label>
          <div class="input-group">
            <input type="text" name="target_amount" id="ff__target-amount" class="form-control" placeholder="245.08"
              pattern="\d+(\.\d{1,2})?" required>
            <div class="input-group-append">
              <span id="ff__target-amount-currency" class="input-group-text">?</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="ff__target-date" class="mb-1"><span class="text-danger font-weight-bold">*</span> Целевая
            дата:</label>
          <input type="text" name="target_date" id="ff__target-date" class="form-control"
            data-mask="00.00.0000 00:00:00" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="ff__description" class="mb-1">Описание:</label>
          <textarea name="description" id="ff__description" class="form-control" rows="6"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Создать</button>
  </div>
</form>
{% endblock %}


{% block js %}
<script>
  let jsData = JSON.parse('{{ js_data | tojson }}');
  let formFieldBalance = $("#ff__balance-id");
  let formFieldTargetDate = $("#ff__target-date");
  let formFieldTargetAmountCurrency = $("#ff__target-amount-currency");

  formFieldTargetDate.daterangepicker({
    singleDatePicker: true,
    autoApply: true,
    showDropdowns: true,
    timePicker: false,
    timePicker24Hour: false,
    timePickerSeconds: false,
    minDate: moment().add(1, "days").format("DD.MM.YYYY"),
    locale: {
      format: "DD.MM.YYYY",
      applyLabel: "Выбрать",
      cancelLabel: "Отменить",
      fromLabel: "С",
      toLabel: "По",
      daysOfWeek: [
        "Вс",
        "Пн",
        "Вт",
        "Ср",
        "Чт",
        "Пт",
        "Сб"
      ],
      monthNames: [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь"
      ],
    }
  });

  function formFieldTargetAmountCurrencyUpdate() {
    let balanceId = formFieldBalance.val();
    if (balanceId !== null) {
      formFieldTargetAmountCurrency.text(jsData.balancesCurrency[balanceId]);
    }
  }

  formFieldTargetAmountCurrencyUpdate();
</script>
{% endblock %}