{% extends 'layouts/centered.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3 border-right">
      <form action="{{ url_for('form.login') }}" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="ff__username" class="mb-1">Имя пользователя:</label>
          <input type="text" name="username" id="ff__username" class="form-control form-control-sm" required>
        </div>
        <div class="form-group m-0">
          <button type="submit" class="btn btn-sm btn-primary">Войти</button>
        </div>
      </form>
    </div>
    <div class="col-3">
      <div><a href="{{ url_for('page.new_account') }}">Добавить пользователя</a></div>
    </div>
  </div>
</div>
{% endblock %}