{% extends 'layouts/account-base.html' %}


{% block heading %}Балансы{% endblock %}


{% block heading_links %}
<a href="{{ url_for('page.balances_new') }}">Добавить баланс</a>
{% endblock %}


{% block content %}
{% if balances %}
<table class="table table-sm table-bordered table-hover m-0">
  <thead>
    <tr>
      <th>Название</th>
      <th>Сумма</th>
      <th>Валюта</th>
      <th>Пополнения</th>
      <th>Выводы</th>
      <th class="w-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for b in balances %}
    <tr>
      <td>{{ b.name }}</td>
      <td class="{% if b.amount > 0 %}text-success{% elif b.amount < 0 %}text-danger{% endif %}">{{ b.amount_repr() }}
      </td>
      <td>{{ b.currency.code_alpha }}</td>
      <td>{{ b.replenishments_qty }}</td>
      <td>{{ b.withdrawals_qty }}</td>
      <td class="px-2 text-nowrap">
        <a href="{{ url_for('page.balance_edit', balance_id=b.id) }}"><i data-feather="edit"></i></a>
        <a href="{{ url_for('page.balance_transactions', balance_id=b.id) }}" class="ml-3"><i data-feather="more-horizontal"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}