{% extends 'layouts/account-base.html' %}


{% block heading %}Новый баланс{% endblock %}


{% block heading_links %}
<a href="{{ url_for('page.balances') }}">Вернуться к списку</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-3">
    <form action="{{ url_for('form.add_balance') }}" method="POST" class="border rounded p-2" autocomplete="off">
      <div class="form-group">
        <label for="ff__name" class="mb-1">Название:</label>
        <input type="text" name="name" id="ff__name" class="form-control form-control-sm" required>
      </div>
      <div class="form-group">
        <label for="ff__currency" class="mb-1">Валюта:</label>
        <select name="ccy_code_alpha" id="ff__currency" class="form-control form-control-sm px-1" required>
          <option value="NOTSET">-</option>
          {% for ccy in form_data.currencies %}
          <option value="{{ ccy.code_alpha }}">{{ ccy.code_alpha }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group mb-0">
        <button type="submit" class="btn btn-sm btn-primary w-100">Добавить баланс</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}