{% extends 'layouts/balance-base.html' %}


{% block content %}
<div class="row">
  <div class="col-6">
    <form action="{{ url_for('form.make_replenishment') }}" method="POST">
      <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="ff__amount" class="mb-1">Сумма:</label>
            <div class="input-group input-group-sm">
              <input type="text" name="amount" id="ff__amount" class="form-control"
                placeholder="245.{{ '0' * g.balance.currency.base }}"
                pattern="\d+(\.\d{1,{{ g.balance.currency.base }}})?"
                {% if request.args.amount %}value="{{ request.args.amount }}" {% endif %} required>
              <div class="input-group-append">
                <span class="input-group-text">{{ g.balance.currency.code_alpha }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="ff__txn-group-id" class="mb-1">Группа:</label>
            <select name="txn_group_id" id="ff__txn-group-id" class="form-control form-control-sm px-1" required>
              <option value="NOTSET">-</option>
              {% for group in form_data.txn_groups %}
              <option value="{{ group.id }}" {% if group.id|string == request.args.txn_group_id %} selected{% endif %}>
                {{ group.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="ff__created-at" class="mb-1">Дата создания:</label>
            <div class="input-group input-group-sm mb-3">
              <input type="text" name="created_at" id="ff__created-at" class="form-control form-control-sm"
                data-mask="00.00.0000 00:00:00" required>
              <div class="input-group-append">
                <button id="ff__created-at-update-toggler" class="btn btn-primary disabled" type="button"
                  id="button-addon2"><i data-feather="play-circle"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="ff__comment" class="mb-1">Комментарий:</label>
            <input type="text" name="comment" id="ff__comment" class="form-control form-control-sm"
              {% if request.args.comment %}value="{{ request.args.comment }}" {% endif %}>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Пополнить баланс</button>
    </form>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  let formFieldCreatedAt = $('#ff__created-at');
  let formFieldCreatedAtUpdateToggler = $('#ff__created-at-update-toggler');

  formFieldCreatedAt.daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    timePicker24Hour: true,
    timePickerSeconds: true,
    startDate: moment().format("DD.MM.YYYY HH:mm:ss"),
    locale: {
      format: 'DD.MM.YYYY HH:mm:ss'
    }
  });

  function updateformFieldCreatedAt() {
    let datetime = moment().format("DD.MM.YYYY HH:mm:ss");
    formFieldCreatedAt.data('daterangepicker').setStartDate(datetime);
    formFieldCreatedAt.data('daterangepicker').setEndDate(datetime);
  }

  let formFieldCreatedAtUpdateInterval = setInterval(updateformFieldCreatedAt, 1000);

  formFieldCreatedAt.on('show.daterangepicker', function () {
    clearInterval(formFieldCreatedAtUpdateInterval);
    $(formFieldCreatedAtUpdateToggler).removeClass("disabled");
  });

  formFieldCreatedAtUpdateToggler.on("click", function () {
    if (!$(this).hasClass("disabled")) {
      formFieldCreatedAtUpdateInterval = setInterval(updateformFieldCreatedAt, 1000);
      $(this).addClass("disabled");
    }
  });
</script>
{% endblock %}