{% extends 'layouts/balance-base.html' %}


{% block section_content %}
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('page.balance_stats_total', balance_id=g.balance.id) }}">Итог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('page.balance_stats_txns', balance_id=g.balance.id) }}">Транзакции</a>
  </li>
</ul>
<div class="mb-4">
  <form action="{{ url_for('page.balance_stats_total', balance_id=g.balance.id, **request.args) }}" autocomplete="off">
    <div class="row">
      <div class="col-6">
        <div class="form-group m-0">
          <label class="mb-1" for="ff__stats_range">Период:</label>
          <input type="text" name="stats_range" id="ff__stats_range" class="form-control"
            value="{{ form_filter_values.stats_range }}">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="border rounded bg-white shadow-sm p-3 mb-4">
  <canvas id="chart"></canvas>
</div>
{% endblock %}


{% block js %}
<script>
  let formFitlerFieldStatsRange = $('#ff__stats_range');

  formFitlerFieldStatsRange.daterangepicker({
    timePicker: true,
    timePicker24Hour: true,
    timePickerSeconds: true,
    autoApply: true,
    locale: {
      format: 'DD.MM.YYYY HH:mm:ss'
    }
  });

  formFitlerFieldStatsRange.on("change", function () {
    this.form.submit();
  })

  let formFilterStatsRangeValue = '{{ form_filter_values.stats_range }}';
  let baseURL = '{{ request.url_root }}';
  let txnsBaseURL = '{{ url_for("page.balance_txns", balance_id=g.balance.id) }}';
  let chartData = {{ chart_data | tojson }};
  let chart = new Chart("chart", {
    type: "horizontalBar",
    data: {
      labels: chartData.labels,
      txnGroupIds: chartData.txn_group_ids,
      datasets: [
        {
          data: chartData.data,
          backgroundColor: chartData.background_colors,
          borderWidth: 0,
          categoryPercentage: 1.0,
          barPercentage: 0.8,
        }
      ]
    },
    options: {
      // responsive: true,
      // maintainAspectRatio: false,
      events: ["mousemove", "click"],
      onClick: function (e, n) {
        if (n.length > 0) {
          let txnGroup = this.config.data.txnGroupIds[n[0]._index];
          let url = new URL(txnsBaseURL, baseURL);
          url.searchParams.append("txn_type", "withdrawal");
          url.searchParams.append("txn_group", txnGroup);
          url.searchParams.append("created_at_range", formFilterStatsRangeValue);
          window.open(url);
        }
      },
      legend: {
        display: false
      },
      scales: {
        xAxes: [
          {
            ticks: {
              beginAtZero: true
            }
          }
        ],
      },
    }
  });
</script>
{% endblock %}