{% extends 'layouts/balance-base.html' %}
{% import 'macro.html' as macro %}


{% block content %}
<div class="mb-4">
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
    data-target="#transactions-import-modal">Импорт транзакций</button>
  <button type="button" class="btn btn-sm btn-primary ml-1">Выгрузка</button>
</div>
<div class="mb-4">
  <form action="{{ url_for('page.balance_transactions', balance_id=g.balance.id, **request.args) }}" class="mb-3"
    autocomplete="off">
    <div class="row">
      <div class="col-3">
        <div class="form-group m-0">
          <label class="mb-1" for="f0__txn-type">Тип:</label>
          <select name="txn_type" id="f0__txn-type" class="form-control form-control-sm px-1"
            onchange="this.form.submit();">
            <option value="NOTSET" {% if request.args.txn_group == "NOTSET" %} selected{% endif %}>Все</option>
            {% for code, alias in form_filter_data.txn_types.items() %}
            <option value="{{ code }}" {% if request.args.txn_type == code %} selected{% endif %}>{{ alias }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group m-0">
          <label class="mb-1" for="f0__txn-group">Группа:</label>
          <select name="txn_group" id="f0__txn-group" class="form-control form-control-sm px-1"
            onchange="this.form.submit();">
            <option value="NOTSET" {% if request.args.txn_group == "NOTSET" %} selected{% endif %}>Все</option>
            <option value="NO_GROUP" {% if request.args.txn_group == "NO_GROUP" %} selected{% endif %}>Без группы
            </option>
            {% for group in form_filter_data.txn_groups %}
            <option value="{{ group.id }}" {% if request.args.txn_group == group.id|string %} selected{% endif %}>
              {{ group.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group m-0">
          <label class="mb-1" for="f0__created-at-range">Дата создания:</label>
          <input type="text" name="created_at_range" id="f0__created-at-range" class="form-control form-control-sm"
            value="{{ form_filter_values.created_at_range }}">
        </div>
      </div>
    </div>
  </form>
</div>
{% if transactions %}
<table class="table table-sm table-bordered table-hover m-0 mb-4">
  <thead>
    <tr class="border-bottom">
      <th class="w-1">Тип</th>
      <th class="w-1">Сумма</th>
      <th class="w-1">Остаток</th>
      <th class="w-1">Группа</th>
      <th>Комментарий</th>
      <th class="w-1">Дата создания</th>
      <th class="w-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for txn in transactions %}
    <tr data-txn-id="{{ txn.id }}" data-txn-type="{{ g.txn_types[txn.type_] }}" data-txn-type-code="{{ txn.type_ }}"
      data-txn-amount="{{ txn.amount_repr() }}" data-txn-balance-remainder="{{ txn.balance_remainder_repr() }}"
      data-txn-group="{% if not txn.group %}NOTSET{% else %}{{ txn.group }}{% endif %}"
      data-txn-comment="{{ txn.comment }}" data-txn-created-at="{{ txn.created_at | utc_dt_to_local_dt }}">
      <td class="text-nowrap">{{ g.txn_types[txn.type_] }}</td>
      <td class="{% if txn.type_ == g.txn_types_const.REPLENISHMENT %}text-success{% else %}text-danger{% endif %}">
        {{ txn.amount_repr() }}
      </td>
      <td>
        <span
          class="{% if txn.balance_remainder > 0 %}text-success{% elif txn.balance_remainder < 0 %}text-danger{% endif %}">{{ txn.balance_remainder_repr() }}</span>
      </td>
      <td class="text-nowrap">
        <div class="d-flex align-items-center">
          {% if txn.group %}
          <div
            style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: {{ txn.group.color_sign }};">
          </div>
          <span class="ml-2">{{ txn.group.name }}</span>
          {% else %}
          -
          {% endif %}
        </div>
      </td>
      <td class="text-truncate" style="max-width: 1px;" data-toggle="tooltip" data-placement="bottom"
        title="{{ txn.comment }}">{{ txn.comment or "-" }}</td>
      <td class="text-nowrap">{{ txn.created_at | utc_dt_to_local_dt }}</td>
      <td class="px-2"><a href="#" class="d-block ev__transaction-edit-btn" data-toggle="modal"
          data-target="#transaction-edit-modal"><i data-feather="edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="mb-4">
  <div class="d-inline-block">
    {{ macro.pagination(page, page_count, limit, 'page.balance_transactions', balance_id=g.balance.id) }}
  </div>
</div>
{% else %}
<p class="text-center mt-5">Транзакции отсутствуют.</p>
{% endif %}

<div id="transactions-import-modal" class="modal">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Импорт транзакций</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i data-feather="x"></i>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('form.import_transactions') }}" method="POST" enctype="multipart/form-data"
              autocomplete="off">
              <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="f1__source" class="mb-1">Источник:</label>
                    <select name="source" id="f1__source" class="form-control form-control-sm px-1" required>
                      <option value="NOTSET">-</option>
                      {% for src in form_txns_import_data.sources %}
                      <option value="{{ src.value }}">{{ src.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="f1__report-file" class="mb-1 d-block">Файл отчета:</label>
                <input type="file" name="report_file" id="f1__report-file" accept=".csv,.xlsx,.xls" required>
              </div>
              <div class="form-group m-0">
                <button type="submit" class="btn btn-sm btn-primary">Импортировать транзакции</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="transaction-edit-modal" class="modal">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Редактирование транзакции (<span id="transaction-edit-modal-id"></span>)</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i data-feather="x"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-8">
                <form action="{{ url_for('form.update_transaction') }}" method="POST" autocomplete="off">
                  <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
                  <input type="hidden" id="f3__txn-id" name="txn_id" required>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-1">Тип:</label>
                        <input type="text" id="f3__txn-type" class="form-control form-control-sm" value="Вывод"
                          readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-1">Сумма:</label>
                        <input type="text" id="f3__amount" class="form-control form-control-sm" value="432.32" readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-1">Остаток:</label>
                        <input type="text" id="f3__balance-remainder" class="form-control form-control-sm"
                          value="5345.43" readonly>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-1">Дата создания:</label>
                        <input type="text" id="f3__created-at" class="form-control form-control-sm"
                          value="16.03.2021 11:26:00" readonly>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="f3__txn-group" class="mb-1">Группа:</label>
                        <select name="txn_group" id="f3__txn-group" class="form-control form-control-sm px-1"></select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="f3__comment" class="mb-1">Комментарий:</label>
                        <input type="text" name="comment" id="f3__comment" class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-sm btn-primary">Обновить запись</button>
                  </div>
                </form>
              </div>
              <div class="col-4">
                <form action="{{ url_for('form.delete_transaction') }}" method="POST" autocomplete="off">
                  <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
                  <input type="hidden" id="f4__txn-id" name="txn_id" required>
                  <div class="form-group">
                    <button type="button" class="btn btn-sm btn-outline-info w-100 mb-2 display-toggler"
                      data-target="delete-txn-acknowledge">Удалить транзакцию</button>
                    <button type="submit" id="delete-txn-acknowledge"
                      class="btn btn-sm btn-danger w-100 d-none">Подтвердить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  $('#f0__created-at-range').daterangepicker({
    autoApply: true,
    timePicker: true,
    timePicker24Hour: true,
    timePickerSeconds: true,
    showCustomRangeLabel: false,
    locale: {
      format: 'DD.MM.YYYY HH:mm:ss'
    }
  });

  $('#f0__created-at-range').on('change', function () {
    this.form.submit();
  })

  let txnGroupsByType = JSON.parse('{{ form_txn_edit_data.txn_groups_by_type | tojson }}');
  let txnEditModal = $('#transaction-edit-modal');
  let txnEditModalTxnId = $('#transaction-edit-modal-id');
  let txnEditButtons = $('.ev__transaction-edit-btn');

  let f3TxnId = $('#f3__txn-id');
  let f3TxnType = $('#f3__txn-type');
  let f3Amount = $('#f3__amount');
  let f3BalanceRemainder = $('#f3__balance-remainder');
  let f3CreatedAt = $('#f3__created-at');
  let f3TxnGroup = $('#f3__txn-group');
  let f3Comment = $('#f3__comment');

  let f4TxnId = $('#f4__txn-id');

  txnEditButtons.on('click', function () {
    let $this = $(this);
    let $parent = $(this).parents('tr');

    let f3TxnGroupMarkup = (
      '<option value="NOTSET">-</option>'
    )
    let txnGroups = txnGroupsByType[$parent.attr('data-txn-type-code')];
    if (txnGroups !== undefined) {
      for (let i = 0; i < txnGroups.length; i++) {
        let txnGroup = txnGroups[i];
        f3TxnGroupMarkup += '<option value="' + txnGroup.id + '" style="color: ' + txnGroup.color_sign + ';">' +
          txnGroup.name + '</option>';
      }
    }
    f3TxnGroup.html(f3TxnGroupMarkup);

    txnEditModalTxnId.text($parent.attr('data-txn-id'));
    f3TxnId.val($parent.attr('data-txn-id'));
    f3TxnType.val($parent.attr('data-txn-type'));
    f3Amount.val($parent.attr('data-txn-amount'))
    f3BalanceRemainder.val($parent.attr('data-txn-balance-remainder'));
    f3CreatedAt.val($parent.attr('data-txn-created-at'))
    f3TxnGroup.val($parent.attr('data-txn-group'));
    f3Comment.val($parent.attr('data-txn-comment'));

    f4TxnId.val($parent.attr('data-txn-id'));
  });
</script>
{% endblock %}