{% extends 'layouts/balance-base.html' %}


{% block content %}
<div class="mb-4">
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
    data-target="#transaction-group-limit-add-modal">Добавить лимит</button>
</div>
{% if limits %}
<table class="table table-sm table-bordered table-hover m-0">
  <thead>
    <tr>
      <th>Группа</th>
      <th>Месячный лимит</th>
      <th class="w-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for l in limits %}
    <tr data-model-id="{{ l.id }}" data-model-group-name="{{ l.group.name }}" data-model-month-limit="{{ l.month_limit_repr() }}">
      <td>
        <div
          style="position: relative; top: 4px; display: inline-block; width: 16px; height: 16px; border-radius: 50%; background-color: {{ l.group.color_sign }};">
        </div>
        <span class="ml-1">{{ l.group.name }}</span>
      </td>
      <td>{{ l.month_limit_repr() }}</td>
      <td class="px-2"><a href="#" class="d-block ev__transaction-group-limit-update-btn" data-toggle="modal"
          data-target="#transaction-group-limit-update-modal"><i data-feather="edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div id="transaction-group-limit-add-modal" class="modal">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Добавить лимит на вывод</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i data-feather="x"></i>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('form.add_transaction_group_limit') }}" method="POST"
              enctype="multipart/form-data">
              <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="f0__txn-group" class="mb-1">Группа:</label>
                    <select name="txn_group" id="f0__txn-group" class="form-control form-control-sm px-1" required>
                      {% for txn_group in add_form_data.txn_groups %}
                      <option value="{{ txn_group.id }}" style="color: {{ txn_group.color_sign }};">{{ txn_group.name }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="f0__month-limit" class="mb-1 d-block">Месячный лимит:</label>
                    <div class="input-group input-group-sm">
                      <input type="text" name="month_limit" id="f0__month-limit" class="form-control form-control-sm"
                        placeholder="245.{{ '0' * g.balance.currency.base }}"
                        pattern="\d+(\.\d{1,{{ g.balance.currency.base }}})?" required>
                      <div class="input-group-append">
                        <span class="input-group-text">{{ g.balance.currency.code_alpha }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group m-0">
                <button type="submit" class="btn btn-sm btn-primary">Добавить лимит</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="transaction-group-limit-update-modal" class="modal">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Редактировать лимит на вывод (<span id="transaction-group-limit-update-modal-id"></span>)</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i data-feather="x"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <form action="{{ url_for('form.update_transaction_group_limit') }}" method="POST"
                  enctype="multipart/form-data">
                  <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
                  <input type="hidden" id="f1__limit-id" name="limit_id" required>
                  <div class="form-group">
                    <label for="f1__group-name" class="mb-1">Группа:</label>
                    <input type="text" id="f1__group-name" class="form-control form-control-sm px-1" value="Продукты" readonly>
                  </div>
                  <div class="form-group">
                    <label for="f1__month-limit" class="mb-1 d-block">Месячный лимит:</label>
                    <div class="input-group input-group-sm">
                      <input type="text" name="month_limit" id="f1__month-limit" class="form-control form-control-sm"
                        placeholder="245.{{ '0' * g.balance.currency.base }}"
                        pattern="\d+(\.\d{1,{{ g.balance.currency.base }}})?">
                      <div class="input-group-append">
                        <span class="input-group-text">{{ g.balance.currency.code_alpha }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-sm btn-primary">Обновить запись</button>
                  </div>
                </form>
              </div>
              <div class="col-6">
                <form action="{{ url_for('form.delete_transaction_group_limit') }}" method="POST" autocomplete="off">
                  <input type="hidden" name="balance_id" value="{{ g.balance.id }}" required>
                  <input type="hidden" id="f2__limit-id" name="limit_id" required>
                  <div class="form-group">
                    <button type="button" class="btn btn-sm btn-outline-info w-100 mb-2 display-toggler"
                      data-target="delete-limit-acknowledge">Удалить лимит</button>
                    <button type="submit" id="delete-limit-acknowledge"
                      class="btn btn-sm btn-danger w-100 d-none">Подтвердить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  let txnGroupLimitUpdateId = $("#transaction-group-limit-update-modal-id");
  let f1GroupName = $("#f1__group-name");
  let f1MonthLimit = $("#f1__month-limit");
  let f1LimitId = $("#f1__limit-id");
  let f2LimitId = $("#f2__limit-id");


  $(".ev__transaction-group-limit-update-btn").on("click", function() {
    let $this = $(this);
    let $parent = $(this).parents('tr');

    txnGroupLimitUpdateId.text($parent.attr('data-model-id'));
    f1GroupName.val($parent.attr('data-model-group-name'));
    f1MonthLimit.val($parent.attr('data-model-month-limit'));
    f1LimitId.val($parent.attr('data-model-id'));
    f2LimitId.val($parent.attr('data-model-id'));
  });
</script>
{% endblock %}