{% extends 'layouts/balance-base.html' %}


{% block content %}
<div class="row">
  <div class="col-3">
    <table class="table table-sm table-borderless mb-4">
      <tbody>
        {% for i in txn_group_transactions %}
        <tr>
          <td class="text-nowrap w-1 pl-0">
            <span
              style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: {{ i.color_sign }}; vertical-align: middle;">
            </span>
            <span class="ml-1 align-middle">{{ i.name }}</span></td>
          <td class="text-nowrap w-1 pl-3">({{ i.transactions }})</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <section class="mb-5">
      <div class="lead mb-3">Пополнения</div>
      <form action="{{ url_for('form.change_replenishment_group') }}" method="POST" autocomplete="off">
        <input type="hidden" name="balance_id" value="{{ g.balance.id }}">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="f0__from-replenishment-group" class="mb-1">Транзакции в группе:</label>
              <select name="from_replenishment_group" id="f0__from-replenishment-group"
                class="form-control form-control-sm px-1" required>
                <option value="NO_GROUP">Без группы</option>
                {% for group in form_data.replenishment_groups %}
                <option value="{{ group.id }}">
                  {{ group.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-6">
            <label for="f0__to-replenishment-group" class="mb-1">Перенести в группу:</label>
            <select name="to_replenishment_group" id="f0__to-replenishment-group"
              class="form-control form-control-sm px-1" required>
              <option value="NO_GROUP">Без группы</option>
              {% for group in form_data.replenishment_groups %}
              <option value="{{ group.id }}">
                {{ group.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm btn-primary">Изменить группу</button>
        </div>
      </form>
    </section>
    <section>
      <div class="lead mb-3">Выводы</div>
      <form action="{{ url_for('form.change_withdrawal_group') }}" method="POST" autocomplete="off">
        <input type="hidden" name="balance_id" value="{{ g.balance.id }}">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="f0__from-withdrawal-group" class="mb-1">Транзакции в группе:</label>
              <select name="from_withdrawal_group" id="f0__from-withdrawal-group"
                class="form-control form-control-sm px-1" required>
                <option value="NO_GROUP">Без группы</option>
                {% for group in form_data.withdrawal_groups %}
                <option value="{{ group.id }}">
                  {{ group.name }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-6">
            <label for="f0__to-withdrawal-group" class="mb-1">Перенести в группу:</label>
            <select name="to_withdrawal_group" id="f0__to-withdrawal-group"
              class="form-control form-control-sm px-1" required>
              <option value="NO_GROUP">Без группы</option>
              {% for group in form_data.withdrawal_groups %}
              <option value="{{ group.id }}">
                {{ group.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm btn-primary">Изменить группу</button>
        </div>
      </form>
    </section>
  </div>
</div>

{% endblock %}