{% extends 'layouts/balance-page.html' %}


{% block content %}
<div class="card">

  <section class="p-3 border-bottom">
    <div class="lead">Statistics</div>
  </section>

  <section class="p-3 mb-1">
    <div class="d-flex align-items-center">
      <div class="me-3">
        <form action="{{ url_for('balances.i.statistics', balance_id=g.balance.id, **request.args) }}">
          {% set year_filter_args = request.args.to_dict() %}
          {% set _ = year_filter_args.pop("year", None) %}
          {% for k,v in year_filter_args.items() %}
          <input type="hidden" name="{{ k }}" value="{{ v }}">
          {% endfor %}
          <select name="year" class="form-control" onchange="this.form.submit();">
            {% for year in filters.allowed_years %}
            <option value="{{ year }}" {% if year==filters.year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class="btn-group flex-grow-1">
        {% set month_link_args = request.args.to_dict() %}
        {% set _ = month_link_args.pop("month", None) %}
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=1, **month_link_args) }}"
          class="btn btn-info {% if 1 in filters.disabled_months %}disabled{% endif %} {% if 1 == filters.month %}active{% endif %}">Jan</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=2, **month_link_args) }}"
          class="btn btn-info {% if 2 in filters.disabled_months %}disabled{% endif %} {% if 2 == filters.month %}active{% endif %}">Feb</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=3, **month_link_args) }}"
          class="btn btn-info {% if 3 in filters.disabled_months %}disabled{% endif %} {% if 3 == filters.month %}active{% endif %}">Mar</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=4, **month_link_args) }}"
          class="btn btn-info {% if 4 in filters.disabled_months %}disabled{% endif %} {% if 4 == filters.month %}active{% endif %}">Apr</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=5, **month_link_args) }}"
          class="btn btn-info {% if 5 in filters.disabled_months %}disabled{% endif %} {% if 5 == filters.month %}active{% endif %}">May</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=6, **month_link_args) }}"
          class="btn btn-info {% if 6 in filters.disabled_months %}disabled{% endif %} {% if 6 == filters.month %}active{% endif %}">Jun</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=7, **month_link_args) }}"
          class="btn btn-info {% if 7 in filters.disabled_months %}disabled{% endif %} {% if 7 == filters.month %}active{% endif %}">Jul</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=8, **month_link_args) }}"
          class="btn btn-info {% if 8 in filters.disabled_months %}disabled{% endif %} {% if 8 == filters.month %}active{% endif %}">Aug</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=9, **month_link_args) }}"
          class="btn btn-info {% if 9 in filters.disabled_months %}disabled{% endif %} {% if 9 == filters.month %}active{% endif %}">Sep</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=10, **month_link_args) }}"
          class="btn btn-info {% if 10 in filters.disabled_months %}disabled{% endif %} {% if 10 == filters.month %}active{% endif %}">Oct</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=11, **month_link_args) }}"
          class="btn btn-info {% if 11 in filters.disabled_months %}disabled{% endif %} {% if 11 == filters.month %}active{% endif %}">Nov</a>
        <a href="{{ url_for('balances.i.statistics', balance_id=g.balance.id, month=12, **month_link_args) }}"
          class="btn btn-info {% if 12 in filters.disabled_months %}disabled{% endif %} {% if 12 == filters.month %}active{% endif %}">Dec</a>
      </div>
    </div>
  </section>


  <div class="row">
    <div class="col-8">

      <section class="p-3">
        <table class="table table-sm table-borderless shadow-none fs-6">
          <tbody>
            <tr>
              <td class="text-nowrap ps-0 py-1" style="width: 1px;">Start balance:</td>
              <td class="py-1">{% if general_stats.start_balance %}{{ hrf_amount(general_stats.start_balance) }}{%
                else %}-{% endif %}</td>
            </tr>
            <tr>
              <td class="text-nowrap ps-0 py-1" style="width: 1px;">Expense:</td>
              <td class="py-1">
                {% if general_stats.expense %}{{ hrf_amount(general_stats.expense) }}{% else %}-{%
                endif %}
                {% if general_stats.expense_pct %}({{ general_stats.expense_pct }}%){% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-nowrap ps-0 py-1" style="width: 1px;">Income:</td>
              <td class="py-1">{% if general_stats.income %}{{ hrf_amount(general_stats.income)
                }}{%
                else %}-{%
                endif %}</td>
            </tr>
            <tr>
              <td class="text-nowrap ps-0 py-1" style="width: 1px;">End balance:</td>
              <td class="py-1">{% if general_stats.end_balance %}{{ hrf_amount(general_stats.end_balance) }}{% else
                %}-{% endif %}</td>
            </tr>
            <tr>
              <td class="text-nowrap ps-0 py-1" style="width: 1px;">Savings:</td>
              <td class="py-1">
                {% if general_stats.savings %}{{ hrf_amount(general_stats.savings) }}{% else %}-{%
                endif %}
                {% if general_stats.savings_pct %}({{ general_stats.savings_pct }}%){% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
    <div class="col-4">

      {% if current_day %}
      <section class="p-3">
        <p class="text-end">Day: {{ current_day }}</p>
      </section>
      {% endif %}

    </div>
  </div>

  {% if expense_categories_stats %}
  <table class="table table-sm table-bordered shadow-none mb-0">
    <thead>
      <tr class="bg-light">
        <th colspan="7" class="text-center text-muted py-2 small border-start-0 border-end-0">Expense</th>
      </tr>
      <tr class="bg-light">
        <th class="align-middle text-center py-2 border-start-0" style="width: 1px;"><i data-feather="eye" width="16"
            height="16"></i></th>
        <th class="align-middle text-center text-muted py-2 small">Category</th>
        <th colspan="2" class="text-muted text-center py-2 small">Amount</th>
        <th colspan="2" class="text-nowrap text-center text-muted py-2 small border-end-0">Limit</th>
      </tr>
    </thead>
    <tbody>
      {% for i in expense_categories_stats %}
      <tr class="hover:bg-light">
        <td class="align-middle text-center">
          <input class="form-check-input shadow-none" type="checkbox" style="transform: scale(1.5);">
        </td>
        <td class="align-middle text-nowrap border-start-0">
          <div class="d-flex align-items-center">
            <div
              style="position: relative; width: 12px; height: 12px; border-radius: 50%; background-color: {{ i.color_sign }};">
            </div>
            <div class="ms-2"><a href="{{ i.href }}" class="link-info">{{ i.name }}</a></div>
          </div>
        </td>
        <td class="align-middle">{{ hrf_amount(i.amount) }}</td>
        <td class="align-middle">
          <div class="text-center">{{ i.amount_pct }}%</div>
          <div class="progress" style="height: 4px;">
            <div class="progress-bar" role="progressbar"
              style="width: {{ i.amount_ratio }}%; background-color: {{ i.color_sign }};"
              aria-valuenow="{{ i.amount_ratio }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
        <td class="align-middle">{% if i.month_limit.value %}{{ hrf_amount(i.month_limit.value) }}{% else %}-{% endif %}
        </td>
        <td
          class="align-middle border-end-0{% if i.month_limit.css_text_color %} {{ i.month_limit.css_text_color }}{% endif %}">
          {% if i.month_limit.css_text_color %}{{ i.month_limit.percent }}%{% else %}-{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
{% endblock %}


{% block js %}
<script>
  (function () {
    $('#f1-created-at-range').daterangepicker({
      autoApply: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerSeconds: true,
      showCustomRangeLabel: false,
      locale: {
        format: 'YYYY-MM-DD HH:mm:ss'
      }
    });
  })();
</script>
{% endblock %}