{% extends 'layouts/balance-page.html' %}



{% block content %}
<div class="card">

  <section class="p-3">
    <div class="d-flex align-items-center justify-content-between">
      <div class="lead">Transactions</div>
      <div class="dropdown">
        <button type="submit" class="btn shadow-none p-0 text-muted" data-bs-toggle="dropdown">
          <i data-feather="more-vertical" width="16" height="16"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal"
              data-bs-target="#import-transactions-modal">Import</a>
          </li>
          <li>
            <a class="dropdown-item"
              href="{{ url_for('balances.i.export_transactions', balance_id=g.balance.id, **request.args) }}">Export</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-3 border-bottom">
    <form action="{{ url_for('balances.i.transactions', balance_id=g.balance.id, **request.args) }}">

      <div class="row">
        <div class="col-3">

          <div class="input-group">
            <span class="input-group-text">Direction</span>
            <select name="direction" class="form-control px-3" onchange="this.form.submit();">
              <option value="">All</option>
              {% for direction in g.CONST_FUNDS_DIRECTION.constants() %}
              <option value="{{ direction.value }}" {% if filters.direction==direction.value %}selected{% endif %}>{{
                direction.meta.name }}</option>
              {% endfor %}
            </select>
          </div>

        </div>
        <div class="col-3">

          <div class="input-group">
            <span class="input-group-text">Category</span>
            <select name="category_id" class="form-control px-3" onchange="this.form.submit();">
              <option value="">All</option>
              <option value="-1" {% if filters.category_id==-1 %}selected{% endif %}>No category</option>
              {% for category in filters.categories %}
              <option value="{{ category.id }}" {% if filters.category_id==category.id %}selected{% endif %}>{{
                category.name }}</option>
              {% endfor %}
            </select>
          </div>

        </div>
        <div class="col-6">

          <div class="d-flex">
            <div class="input-group me-4">
              <span class="input-group-text">Time</span>
              <input type="text" id="created-at-range-hrf" name="created_at_range_hrf" class="form-control px-3"
                data-mask="0000-00-00 00:00:00 - 0000-00-00 00:00:00" value="{{ filters.created_at_range_hrf }}">
            </div>

            <a href="{{ url_for('balances.i.transactions', balance_id=g.balance.id) }}"
              class="btn btn-light text-muted px-2"><i data-feather="refresh-cw"></i></a>
          </div>

        </div>
      </div>

    </form>
  </section>

  {% if txns %}
  <table class="table table-borderless shadow-none m-0">
    <thead>
      <tr class="bg-light border-bottom">
        <th class="align-middle text-muted py-2 small" style="width: 1px;">Time</th>
        <th class="align-middle text-muted py-2 small" style="width: 1px;">Amount</th>
        <th class="align-middle text-muted py-2 small" style="width: 1px;">Remainder</th>
        <th class="align-middle text-muted py-2 small" style="width: 1px;">Category</th>
        <th class="align-middle text-muted py-2 small" colspan="2">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for txn in txns %}
      <tr class="hover:bg-light">
        <td class="align-middle text-nowrap py-3 pe-4">{{ txn.created_at }}</td>
        <td
          class="align-middle text-nowrap py-3 pe-4 text-{% if txn.direction == g.CONST_FUNDS_DIRECTION.INCOME.value %}success{% else %}danger{% endif %}">
          {% if txn.direction == g.CONST_FUNDS_DIRECTION.INCOME.value %}+{% else %}-{% endif %}{{ hrf_amount(txn.amount)
          }}
        </td>
        <td
          class="align-middle text-nowrap py-3 pe-4 text-{% if txn.balance_remainder > 0 %}success{% elif txn.balance_remainder < 0%}danger{% endif %}">
          {% if txn.balance_remainder > 0 %}+{% endif %}{{ hrf_amount(txn.balance_remainder) }}
        </td>
        <td class="align-middle text-nowrap p-0">
          <div class="dropdown">
            <div class="list-group-item-action py-3 ps-3 pe-4 hover:cursor-pointer" data-bs-toggle="dropdown">
              {% if txn.category %}
              {% set category_name = txn.category.name %}
              {% set category_color_sign = txn.category.color_sign %}
              {% else %}
              {% set category_name = 'No category' %}
              {% set category_color_sign = g.CONST_NO_CATEGORY_TXN_COLOR %}
              {% endif %}
              <div class="d-flex align-items-center">
                <div
                  style="position: relative; width: 12px; height: 12px; border-radius: 50%; background-color: {{ category_color_sign }};">
                </div>
                <div class="ms-2">{{ category_name }}</div>
              </div>
            </div>
            <div class="dropdown-menu dropdown-offset border-0 p-0">
              <div class="card" style="min-width: 280px; max-height: 280px; overflow-y: auto;">
                <div class="list-group">
                  {% if txn.category %}
                  <div>
                    <form
                      action="{{ url_for('balances.i.update_transaction_category', balance_id=g.balance.id, **request.args) }}"
                      method="POST">
                      <input type="hidden" name="txn_id" value="{{ txn.id }}">
                      <input type="hidden" name="category_id" value="">
                      <button type="submit" class="list-group-item list-group-item-action border-0 p-2">
                        <div class="d-flex align-items-center">
                          <div
                            style="position: relative; width: 12px; height: 12px; border-radius: 50%; background-color: #eee">
                          </div>
                          <div class="ms-2">No category</div>
                        </div>
                      </button>
                    </form>
                  </div>
                  {% endif %}

                  {% if txn.direction == g.CONST_FUNDS_DIRECTION.INCOME.value %}
                  {% set categories_for_update = g.income_categories %}
                  {% else %}
                  {% set categories_for_update = g.expense_categories %}
                  {% endif %}

                  {% for category in categories_for_update %}
                  {% if category.id != txn.category_id %}
                  <div>
                    <form
                      action="{{ url_for('balances.i.update_transaction_category', balance_id=g.balance.id, **request.args) }}"
                      method="POST">
                      <input type="hidden" name="txn_id" value="{{ txn.id }}">
                      <input type="hidden" name="category_id" value="{{ category.id }}">
                      <button type="submit" class="list-group-item list-group-item-action border-0 p-2">
                        <div class="d-flex align-items-center">
                          <div
                            style="position: relative; width: 12px; height: 12px; border-radius: 50%; background-color: {{ category.color_sign }};">
                          </div>
                          <div class="ms-2">{{ category.name }}</div>
                        </div>
                      </button>
                    </form>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="align-middle p-0" style="max-width: 1px;">
          <div class="dropdown">
            <p class="txn-comment-label hover:cursor-pointer list-group-item-action text-truncate m-0 p-3"
              data-bs-toggle="dropdown">
              {{ txn.comment or "..." }}
            </p>
            <div class="dropdown-menu dropdown-offset p-0 border-0" style="width: 400px;">
              <div class="card p-2">
                <form
                  action="{{ url_for('balances.i.update_transaction_comment', balance_id=g.balance.id, **request.args) }}"
                  method="POST">
                  <input type="hidden" name="txn_id" value="{{ txn.id }}">
                  <div class="mb-2">
                    <textarea name="comment" class="form-control txn-comment-field px-2" rows="4"
                      placeholder="...">{{ txn.comment }}</textarea>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-light me-2">Close</button>
                    <button type="submit" class="btn btn-sm btn-info">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td class="align-middle p-0 px-3" style="width: 1px;">
          <form action="{{ url_for('balances.i.delete_transaction', balance_id=g.balance.id, **request.args) }}"
            method="POST">
            <input type="hidden" name="txn_id" value="{{ txn.id }}">
            <button type="submit" class="btn shadow-none p-0 text-muted">
              <i data-feather="trash" width="16" height="16"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <section class="p-3 border-top">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        {% if has_prev or has_next %}
    {% set pagination_args = request.args.to_dict() %}
    {% set _ = pagination_args.pop("limit", None) %}
    {% set _ = pagination_args.pop("offset", None) %}
      {% if has_prev %}
      <a href="{{ url_for('balances.i.transactions', balance_id=g.balance.id, limit=filters.limit, offset=filters.offset - filters.limit, **pagination_args) }}"
        class="btn btn-light me-3">Previous</a>
      {% endif %}
      {% if has_next %}
      <a href="{{ url_for('balances.i.transactions', balance_id=g.balance.id, limit=filters.limit, offset=filters.offset + filters.limit, **pagination_args) }}"
        class="btn btn-light me-3">Next</a>
      {% endif %}
        {% endif %}
      </div>

      <div class="d-flex align-items-center">
        <span class="text-nowrap me-3">Show items:</span>
        <form>
          {% set limit_control_args = request.args.to_dict() %}
          {% set current_limit = limit_control_args.pop("limit", None) %}
          {% for k, v in limit_control_args.items() %}
          <input type="hidden" name="{{ k }}" value="{{ v }}">
          {% endfor %}
          <select name="limit" class="form-control px-3" onchange="this.form.submit()" required>
            <option value="10" {% if current_limit=="10" %}selected{% endif %}>10</option>
            <option value="20" {% if current_limit=="20" %}selected{% endif %}>20</option>
            <option value="30" {% if current_limit=="30" %}selected{% endif %}>30</option>
          </select>
        </form>
      </div>

    </div>
  </section>

  {% else %}
  <p class="p-3 m-0">Transactions not found.</p>
  {% endif %}

</div>


<div class="modal fade" id="import-transactions-modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <form action="{{ url_for('balances.i.import_transactions', balance_id=g.balance.id) }}" method="POST"
        enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">Import Transactions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label small">Parser</label>
            {% if report_parsers %}
            <select name="parser_id" class="form-control px-3" required>
              {% for parser in report_parsers %}
              <option value="{{ parser.identifier() }}">{{ parser.name(include_currency=False) }}</option>
              {% endfor %}
            </select>
            {% else %}
            <select class="form-control px-3" required>
              <option value="" selected>-</option>
            </select>
            <div class="form-text">There aren't any available parsers for {{ g.currency.code_alpha }} currency.</div>
            {% endif %}
          </div>
          <div>
            <label class="form-label small">Report</label>
            <input type="file" class="form-control" name="report_file" accept=".csv,.xlsx,.xls" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-info">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{{ super() }}
<script>
  (function () {

    $('.txn-comment-field').on('keypress', function (e) {
      if (e.which === 13 && !e.shiftKey) {
        e.preventDefault();
        $(this).closest('form').submit();
      }
    })

    $('.txn-comment-label').on('click', function () {
      let commentField = $(this).next('.dropdown-menu').find('.txn-comment-field');
      setTimeout(function () {
        commentField.focus();
      }, 0);
    });

    $('#created-at-range-hrf').daterangepicker({
      autoApply: true,
      showCustomRangeLabel: false,
      locale: {
        format: 'YYYY-MM-DD HH:mm:ss'
      }
    });

    $('#created-at-range-hrf').on('change', function () {
      this.form.submit();
    });

  })();
</script>
{% endblock %}