{% extends 'layouts/base.html' %}


{% block body %}
<div class="container">

  <header class="border-bottom py-3 mb-5">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <a href="{{ url_for('balances.index') }}" class="link-info me-5">Balances</a>
        <a href="{{ url_for('categories.index') }}" class="link-info me-5">Categories</a>
        {% if g.is_superuser %}
        <i class="border-start py-2"></i>
        <a href="{{ url_for('accounts.index') }}" class="d-inline-block link-info ms-5">Accounts</a>
        <a href="{{ url_for('currencies.index') }}" class="d-inline-block link-info ms-5">Currencies</a>
        {% endif %}
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <p class="small m-0 me-3">You are logined in as <span class="fw-bold">{{ g.authorized_account.username }}</span></p>
        <form action="{{ url_for('access.logout') }}" method="POST">
          <button type="submit" class="btn btn-sm btn-light"><small>Logout</small></button>
        </form>
      </div>
    </div>
  </header>

  <section class="mb-5">
    {% block top_line %}{% endblock %}
  </section>

  <main class="mb-5">
  {% block main %}{% endblock %}
  </main>
</div>
{% endblock %}