{% extends 'layouts/account-base.html' %}


{% block heading %}Общий лимит на вывод: {{ g.limit.name }}{% endblock %}


{% block heading_extra %}
<div class="mt-2">
  <span class="text-muted font-italic">Месячный лимит: {{ g.limit.month_limit_repr() }} {{ g.limit_currency.code_alpha }}</span>
</div>
{% endblock %}


{% block heading_links %}
<a href="{{ url_for('page.common_txn_group_limits') }}" class="pr-4 border-right">Вернуться к списку</a>
<a href="{{ url_for('page.common_txn_group_limit_participants', limit_id=g.limit.id) }}" class="ml-4 {% if request.endpoint == 'page.common_txn_group_limit_participants' %} active{% endif %}">Участники</a>
{% endblock %}
