{% extends 'layouts/common-txn-group-limit-base.html' %}


{% block content %}
<div class="mb-4">
  <div class="row">
    <div class="col-9">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
        data-target="#add-participant-modal">Добавить участника</button>
    </div>
  </div>
</div>
{% if participants_query %}
<table class="table table-sm table-bordered table-hover m-0 mb-4">
  <thead>
    <tr class="border-bottom">
      <th class="w-1">Баланс</th>
      <th class="w-1">Пользователь</th>
      <th class="w-1">Группа</th>
      <th class="w-1">Месячный лимит</th>
    </tr>
  </thead>
  <tbody>
    {% for i in participants_query %}
    {% if loop.first %}
    <tr>
      <td class="p-0 border-0"></td>
      <td class="p-0 border-0"></td>
      <td class="p-0 border-0"></td>
      <td rowspan="{{ loop.length + 1 }}" class="text-center align-middle">{{ g.limit.month_limit_repr() }} {{ g.limit_currency.code_alpha }}</td>
    </tr>
    <tr>
      <td class="text-nowrap border-top-0">{{ i.balance.name }}</td>
      <td class="text-nowrap border-top-0">{{ i.balance.account.username }}</td>
      <td class="text-nowrap border-top-0">{{ i.group.name }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="text-nowrap">{{ i.balance.name }}</td>
      <td class="text-nowrap">{{ i.balance.account.username }}</td>
      <td class="text-nowrap">{{ i.group.name }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="text-center mt-5">Участники отсутствуют.</p>
{% endif %}

<div id="add-participant-modal" class="modal">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title">Добавление участника</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i data-feather="x"></i>
            </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('form.add_common_limit_participant') }}" method="POST" enctype="multipart/form-data"
              autocomplete="off">
                <input type="hidden" name="limit_id" value="{{ g.limit.id }}" required>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="f0__balance" class="mb-1">Баланс:</label>
                      <select name="balance" id="f0__balance" class="form-control form-control-sm px-1" required>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="f0__txn-group" class="mb-1">Группа выводов:</label>
                      <select name="txn_group" id="f0__txn-group" class="form-control form-control-sm px-1" required>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group m-0">
                  <button type="submit" class="btn btn-sm btn-primary">Добавить участника</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  const balancesOptions = JSON.parse('{{ add_participant_form_data.balances | tojson }}');
  const txnGroupsOptions = JSON.parse('{{ add_participant_form_data.txn_group_options | tojson }}');

  let f0Balance = $('#f0__balance');
  let f0TxnGroup = $('#f0__txn-group');

  let f0BalanceMarkup = '';
  f0BalanceMarkup += '<option>-</option>';
  if (balancesOptions !== undefined) {
    for (let i = 0; i < balancesOptions.length; i++) {
      let balance = balancesOptions[i];
      f0BalanceMarkup += '<option value="' + balance.id + '" data-account-id="' + balance.account_id + '">' + balance.name + '</option>';
    }
  }
  f0Balance.html(f0BalanceMarkup);

  f0Balance.on('change', function() {
    let $this = $(this);
    let $option = $this.find('option:selected');
    let accountId = $option.data('account-id');

    if (accountId === undefined) {
      return;
    }

    let f0TxnGroupMarkup = '';
    let options = txnGroupsOptions[accountId];
    for (let i = 0; i < options.length; i++) {
      let txnGroup = options[i];
      f0TxnGroupMarkup += '<option value="' + txnGroup.id + '">' + txnGroup.name + '</option>';
    }
    f0TxnGroup.html(f0TxnGroupMarkup);
  });

</script>
{% endblock %}