html {
  font-size: 14px;
}

.container {
  /* width: 1024px; */
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-light:hover {
  background-color: #f8f9fa;
}

.hover-bg-light:hover {
  background-color: #f8f9fa;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table {
  /* table-layout: fixe/d; */
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #287bb5;
  border: 1px solid transparent;
  border-radius: .2rem;
}